language: java
sudo: false
install: true
addons:
  sonarqube:
    token:
      secure: sdcf9Lm5jwLuza3OoLdu8Bbo3GPo2c40bXepqy5mM6d6WLkfsmbAQTCJKjKNamub5QB8msxV5w258HFVuLLAkX3zhA7Z/KF/noj8uvAeE3dQKyyzHNvjefyDxmmvuPd42KbyFwEQEARmaYKM0hZaAFbCx5npCWC5b+UxMnivVEkMMJFg/gU9eGFFZRhWQ+LbirAQ/FK1ee9TRqp/9Io/Lt61OickbLx393Kv2nNaH1EW6gj9a50vigmz0UK5kT+bFn7NHhGNSEYg8XBo4LbCKmRsaB4M0pddrZ1bKN56IUAlyyaXFaDe0UYBqNoBKvaffMEOH0aj2yERkZGrmyA52evOtM0jnJ3UJDLp0EVwfkM7oQUV0XXEDzhpklaFnmXywCMYVSMDW1chgSPOV/NkKUMDYfgWdxrkQnxZeWGyf7Lf9F3aTGvUhgI8mm8NuAnU+kX+OieNA/x6gbgVVFR5jMmTO6zPaLdzcTUvJO3ShoOqrkjUmZzbzvr0JH0U4+niblPpKo44lVhq9iOnoRQixc8Qb1va1ZNsS5SRXPHAmLLVwTRpzK33/bwYTmKOkXqWipUbMmhaKIjNRVZHNN1AcfJ4t9eDjLZzVEkFuVZUE2Zxuz/3m8WrxtG/1F+6jVB9221g8+pTjpJw/gcHTRBCayCziMOmUaVqPbHYtnSF4cM=
jdk:
  - oraclejdk8
script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
after_success:
  - mvn clean cobertura:cobertura coveralls:report
